@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --font: 'Roboto';

    --font-light:300;
    --font-regular:400;
    --font-medium:500;

    --grey-darkest: black;
    --grey-darker: #191919;
    --grey-normal: #292929;
    --grey-lighter: #757575;
    --grey--lightest: #f2f2f2;

    --green: #1A8917;

    --rounded-small: 10px;
    --rounded-medium: 20px;
    --rounded-large: 50px;


    --line-stretched:1,5;
    --line-normal:1,2;
}

body {
    font-family: var(--font);
    font-weight: var(--font-regular);
    color: var(--grey-normal);
    --line-height: var(--line-stretched);
}